
<%- include("partials/header"); -%>

    <h1 class = "myhome" >Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h2 class = "homePost"><%=post.title%></h2>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
      <button class = "btn btn-secondary delete">Delete</button>
  </form>
  <!-- <a class="btn btn-secondary" type = "submit" href="/edit">Edit</a> -->


    <% }) %>
    <div class="compose" >
      <!-- <button class="btn btn-dark" type="submit" name="button"><a href="/compose">Compose</a></button> -->
      <a class="btn btn-primary" type="submit" href="/compose" name="button" >Compose</a>
    </div>

<%- include("partials/footer"); -%>
